.tabelaSomas {
}

.tabelaSomas table {
    border-collapse:collapse;
    background-color: white;
    margin: 48px;
}

.tabelaSomas thead {
    background-color: rgb(201, 53, 241);
    color: white;
    font-weight: 600;
}

.tabelaSomas td {
    border: 2px solid rgb(218, 129, 243);
    transition: 1s ease-in-out;
    text-align: center;
    text-decoration-style: solid;
    padding: 10px;
}

.tabelaSomas tbody td {
    font-weight: 600;
}